body {
  font-family: "Inter", sans-serif;
  background-color: #f8faf8;
}

a, h1, h2, h3 {
  color: #006c4f;
}

.sidebar {
  background-color: #eaf2ee;
  border-right: 2px solid #b9d4c3;
}

.page__content {
  max-width: 1200px;
}
